[Unit]
Description=dadbot
After=network-online.target local-fs.target time-sync.target
Wants=network-online.target local-fs.target time-sync.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/home/sam/src/dadbot/run
Restart=on-failure
RestartSec=10s
User=sam
Group=sam
